body {
    font-family: arial;
    border: 1px solid green;
}

#Izq {
    float: left;
    width: 70%;
    border: 1px solid blue;
}

#Der {
    margin-left: 70%;
    border: 1px solid red;
}

#Izq2 {
    float: left;
    width: 30%;
    border: 1px solid black;
   
}

#Der2 {
    margin-left: 30%;
    border: 1px solid pink;
    
}

.limpiar {
    clear: both;
}
#logo {
    background-color: #42d8ed;
}
h1{
    margin:0;
}


header#Cabecera {
    background: url(http://masfondos.mx/wp-content/uploads/2016/03/fondo-banner.jpg);
    height: 110px;
    font-family: Calibri;
    color: chocolate;
    font-size: 100%;
    padding: 5px;
}
#pie {
    text-align: center;
    background: url(http://masfondos.mx/wp-content/uploads/2016/03/fondo-banner.jpg);
    min-height: 45px;
    padding-top: 20px;
}