body {
    font-family: arial;
    border: 1px solid green;
}

#Izq {
    float: left;
    width: 70%;
    border: 1px solid blue;
}

#Der {
    margin-left: 70%;
    border: 1px solid red;
}

#Izq2 {
    float: left;
    width: 30%;
    border: 1px solid black;
   
}

#Der2 {
    margin-left: 30%;
    border: 1px solid pink;
    
}

